.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80)
}
.mfp-wrap {
    z-index: 1043;
    position: fixed;
    outline: none!important;
    -webkit-backface-visibility: hidden
}
.mfp-wrap,
.mfp-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.mfp-container {
    text-align: center;
    position: absolute;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.mfp-align-top .mfp-container:before {
    display: none
}
.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto
}
.mfp-ajax-cur {
    cursor: progress
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}
.mfp-zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}
.mfp-auto-cursor .mfp-content {
    cursor: auto
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
.mfp-loading.mfp-figure {
    display: none
}
.mfp-hide {
    display: none!important
}
.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}
.mfp-preloader a {
    color: #ccc
}
.mfp-preloader a:hover {
    color: #fff
}
.mfp-s-ready .mfp-preloader,
.mfp-s-error .mfp-content {
    display: none
}
button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace
}
.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}
.mfp-close:active {
    top: 1px
}
.mfp-close-btn-in .mfp-close {
    color: #333
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}
.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap
}
.mfp-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    top: 50%;
    margin: -55px 0 0;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.mfp-arrow:active {
    margin-top: -54px
}
.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7
}
.mfp-arrow-left {
    left: 0
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
    border-right: 17px solid #fff;
    margin-left: 31px
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f
}
.mfp-arrow-right {
    right: 0
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 17px solid #fff;
    margin-left: 39px
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f
}
.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}
.mfp-iframe-holder .mfp-close {
    top: -40px
}
.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    background: #000
}
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}
img.mfp-img,
.mfp-figure {
    line-height: 0
}
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    background: #444
}
.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}
.mfp-figure figure {
    margin: 0
}
.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}
.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}
.mfp-image-holder .mfp-content {
    max-width: 100%
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, .6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, .6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}
@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}
.mfp-ie7 .mfp-img {
    padding: 0
}
.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}
.mfp-ie7 .mfp-container {
    padding: 0
}
.mfp-ie7 .mfp-content {
    padding-top: 44px
}
.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0
}
@font-face {
    font-family: 'FrutigerLTPro-Bold';
    src: url("../fonts/Frutiger/2BE244_0_0.eot");
    src: url("../fonts/Frutiger/2BE244_0_0d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Frutiger/2BE244_0_0.woff") format("woff"), url("../fonts/Frutiger/2BE244_0_0.ttf") format("truetype")
}
@font-face {
    font-family: 'FrutigerLTPro-Roman';
    src: url("../fonts/Frutiger/2BE244_1_0.eot");
    src: url("../fonts/Frutiger/2BE244_1_0d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Frutiger/2BE244_1_0.woff") format("woff"), url("../fonts/Frutiger/2BE244_1_0.ttf") format("truetype")
}
@font-face {
    font-family: 'FrutigerLTPro-Light';
    src: url("../fonts/Frutiger/2BE244_2_0.eot");
    src: url("../fonts/Frutiger/2BE244_2_0d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Frutiger/2BE244_2_0.woff") format("woff"), url("../fonts/Frutiger/2BE244_2_0.ttf") format("truetype")
}
body {
    background-color: inherit
}
button,
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    zoom: 1
}
h1 {
    font-size: 100%
}
h1,
h2 {
    border: 0;
    padding: 0;
    zoom: 1
}
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe {
    border: 0;
    padding: 0;
    font-size: 100%;
    zoom: 1
}
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img {
    margin: 0
}
img {
    border: 0;
    padding: 0;
    zoom: 1
}
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    zoom: 1
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}
html,
body,
div,
dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote {
    list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    font-weight: 400
}
a {
    text-decoration: none;
    outline: none;
    cursor: pointer
}
b,
strong {
    font-weight: 700
}
img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    border: none;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto
}
ul,
li {
    display: list-item;
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
th,
td,
caption {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}
svg {
    overflow: hidden
}
input[type="checkbox"] {
    margin: 0 4px;
    width: 13px;
    height: 13px;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden
}
input,
textarea,
select {
    outline: none;
    margin: 0;
    font-family: inherit
}
textarea {
    overflow: auto;
    resize: none
}
*,
*:after,
*:before {
    box-sizing: border-box
}
html {
    -webkit-text-size-adjust: none
}
body {
    font: 15px/1.5 FrutigerLTPro-Roman, Arial, Helvetica, sans-serif;
    background: #fff;
    color: #464a49;
    text-align: left
}
a,
img,
.logo,
.down_arrow,
.play-video-button {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
a:active,
input[type="submit"] {
    -webkit-transition: all .05s ease-out;
    transition: all .05s ease-out
}
.right {
    float: right
}
.left {
    float: left
}
.clear {
    clear: both
}
.clear,
.clearfix:before,
.clearfix:after {
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:before,
.clearfix:after {
    content: '\0020'
}
.clearfix:after {
    clear: both
}
.clearfix {
    zoom: 1
}
h1 {
    color: #a2a7a5;
    font: 40px/1.2 FrutigerLTPro-Light;
    margin: 0 0 20px
}
h1 strong {
    color: #464a49
}
h2 {
    font-size: 26px;
    margin: 0 0 10px
}
h2,
h3 {
    color: #464a49
}
h3 {
    font: 20px/1.4 FrutigerLTPro-Light;
    margin: 0 0 30px
}
b,
strong {
    font-family: FrutigerLTPro-Bold
}
.button {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 62px;
    border-radius: 62px;
    padding: 0 25px;
    font: 16px/62px FrutigerLTPro-Roman;
    vertical-align: top
}
.button.green_bg {
    background: #2cc185;
    border: 2px solid #2CC185;
    color: #fff
}
.button.green_bg:hover {
    background: #14A66B;
    border-color: #14A66B
}
.button.orange_outline {
    border: 2px solid #ffb534;
    color: #ffb534
}
.button.orange_outline:hover {
    color: #fff;
    background: #ffb534
}
.button.orange_outline:hover svg path {
    fill: #fff
}
.button.has_icon {
    padding-left: 65px
}
.button svg {
    display: inline-block;
    position: absolute;
    left: 27px;
    top: 16px
}
.button .icon_play {
    top: 20px
}
.button .icon_download {
    font-weight: 400
}
.page_wrap {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    left: 60px
}
.site_header {
    position: absolute;
    right: 0;
    top: 16px;
    left: 0;
    z-index: 100
}
.logo {
    position: relative;
    top: -150px
}
.logo.show {
    top: 0
}
.logo img {
    width: 161px;
    height: auto
}
.header_links,
.header_links a {
    color: #a9aeac;
    line-height: 36px
}
.header_links a:hover {
    color: #7c807e
}
a.green {
    color: #2cc185
}
a.green:hover {
    color: #14A66B
}
.header_links .divider {
    margin: 0 4px
}
.main_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}
.slider_container {
    height: 100%
}
.slide_container {
    display: table;
    width: 100%;
    height: 100%
}
.slide_container .vertical_align {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 200
}
.big_logo {
    width: 320px;
    margin-bottom: 50px;
    margin-left: -20px;
}
.cta_buttons {
    padding-top: 65px;
    max-width: 280px;
    margin: 0 auto
}
.cta_buttons .button {
    min-width: 190px
}
.cta_buttons p:first-child {
    margin-bottom: 30px
}
.download-button *,
.down_arrow {
    cursor: pointer
}
.down_arrow {
    background: url(../images/splash/down_arrow.e38c7576.svg) no-repeat;
    width: 36px;
    height: 18px;
    background-size: 36px auto;
    display: block;
    position: absolute;
    z-index: 300;
    bottom: 40px;
    left: 50%;
    margin-left: -18px;
    animation: animationFrames ease-in 4s;
    animation-iteration-count: infinite;
    -webkit-animation: animationFrames ease-in 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: animationFrames ease-in 4s;
    -moz-animation-iteration-count: infinite;
    -o-animation: animationFrames ease-in 4s;
    -o-animation-iteration-count: infinite;
    -ms-animation: animationFrames ease-in 4s;
    -ms-animation-iteration-count: infinite
}
@keyframes animationFrames {
    0% {
        margin-bottom: 0
    }
    5% {
        margin-bottom: 10px
    }
    10% {
        margin-bottom: 0
    }
    15% {
        margin-bottom: 10px
    }
    20%,
    100% {
        margin-bottom: 0
    }
}
@-webkit-keyframes animationFrames {
    0% {
        margin-bottom: 0
    }
    5% {
        margin-bottom: 10px
    }
    10% {
        margin-bottom: 0
    }
    15% {
        margin-bottom: 10px
    }
    20%,
    100% {
        margin-bottom: 0
    }
}
@-ms-keyframes animationFrames {
    0% {
        margin-bottom: 0
    }
    5% {
        margin-bottom: 10px
    }
    10% {
        margin-bottom: 0
    }
    15% {
        margin-bottom: 10px
    }
    20%,
    100% {
        margin-bottom: 0
    }
}
.features {
    max-width: 530px
}
.features .feature {
    margin-top: 34px
}
.features .feature:first-child {
    margin-top: 0
}
.features p {
    font-family: FrutigerLTPro-Light
}
.features .feature_content {
    overflow: hidden
}
.features .feature_icon {
    margin-right: 20px
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .page_wrap {
        left: 40px;
        right: 50px
    }
}
@media screen and (min-width: 992px) {
    .page_wrap {
        left: 40px;
        right: 50px
    }
    .header_links {
        display: none
    }
}
@media screen and (min-width: 768px) {
    .cta_buttons {
        display: none
    }
}
@media screen and (max-width: 767px) {
    h3 {
        margin-bottom: 25px
    }
    .cta_buttons {
        display: block
    }
    .download-button {
        margin-bottom: 25px;
        display: block
    }
    body {
        font-size: 13px
    }
    h1 {
        font-size: 32px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 17px
    }
    .logo img {
        width: 121px
    }
    .button {
        font-size: 12px;
        height: 44px;
        line-height: 42px
    }
    .button svg {
        left: 13px;
        top: 18px
    }
    .button.has_icon {
        padding-left: 26px;
        padding-right: 0
    }
    .button .icon_download {
        top: 10px;
        width: 18px;
        height: 18px
    }
    .cta_buttons .button {
        min-width: 130px
    }
    .button .icon_play {
        top: 12px
    }
    .big_logo {
        width: 181px;
        margin-bottom: 25px
    }
    .cta_buttons {
        padding-top: 0
    }
    .onepage-pagination li a {
        width: 6px;
        height: 6px
    }
    .features {
        padding-bottom: 10px
    }
    .features .feature {
        margin-top: 20px
    }
    .features .feature_icon {
        width: 50px;
        margin-right: 12px
    }
    .features h2 {
        margin-bottom: 2px
    }
    .features p {
        line-height: 1.4
    }
    .site_footer {
        font-size: 13px;
        text-align: center;
        bottom: 10px
    }
    .site_footer .left,
    .site_footer .right {
        float: none;
        width: auto
    }
    .footer_links {
        margin-bottom: 2px
    }
}
@media screen and (max-width: 767px) {
    .page_wrap {
        left: 18px;
        right: 18px
    }
    .onepage-pagination {
        right: 5px
    }
    .cta_buttons {
        text-align: center
    }
    .cta_buttons:before {
        content: '';
        display: block;
        width: 100%
    }
    .cta_buttons:after {
        content: '';
        display: inline-block;
        width: 100%
    }
    .cta_buttons .button {
        margin: 0!important;
        font-family: FrutigerLTPro-Bold;
        text-transform: uppercase;
        vertical-align: top
    }
    .cta_buttons .button:first-child {
        margin-right: 5px!important
    }
    .cta_buttons .button:last-child {
        margin-left: 5px!important
    }
    .down_arrow {
        bottom: 20px
    }
    .main_download_app_button {
        display: none
    }
}
.waitlist-form {
    margin-top: 40px
}
.join-waitlist {
    font: 16px/1.4 FrutigerLTPro-Light;
    margin-bottom: 10px;
    text-align: left
}
#waitlist-form-message-container {
    padding: 10px;
    height: 2em
}
.waitlist-form .email {
    background-color: #EBEBEB;
    width: 78.5%;
    margin-right: 1.5%;
    max-width: 400px
}
.waitlist-form .email,
.waitlist-form .submit {
    font: 20px/1.4 FrutigerLTPro-Light;
    border: 0;
    padding: 10px;
    border-radius: 4px
}
.waitlist-form .submit {
    background-color: #FDB443;
    color: #fff;
    width: 20%;
    max-width: 100px;
    cursor: pointer
}
.waitlist-form .submit:hover {
    background-color: #f7b033
}
.waitlist-form .submit:active {
    background-color: #eea525
}
@media screen and (max-height: 400px) {
    .down_arrow {
        display: none
    }
    .slide_container {
        padding-top: 15px
    }
}
@media screen and (max-height: 600px) {
    .down_arrow {
        display: none
    }
    .slide_container {
        padding-top: 15px
    }
}
@media screen and (min-width: 768px) {
    html,
    body {
        height: 100%;
        overflow: hidden
    }
    .page-container {
        height: 100%;
        width: 100%;
        position: relative
    }
    .page-video {
        left: 0
    }
    .page-video,
    .page-content {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%
    }
    .page-content {
        right: 0
    }
    .page_slider {
        list-style: none
    }
    .page_slider,
    .page_slider .slide {
        width: 100%;
        height: 100%
    }
    .site_footer {
        position: absolute;
        bottom: 28px;
        left: 0;
        right: 0;
        z-index: 300
    }
}
@media screen and (max-width: 991px) {
    h1 {
        font-size: 38px;
        line-height: 1
    }
    .site_footer {
        font-size: 12px
    }
}
@media screen and (max-width: 767px) {
    .page-video,
    .down_arrow,
    .onepage-pagination {
        display: none
    }
    .page_slider .slide {
        position: relative!important;
        margin-bottom: 25px
    }
    .slide_container {
        padding-top: 15px
    }
    .features {
        margin: 0 auto
    }
    .waitlist-form {
        max-width: 500px;
        margin: 0 auto
    }
    .slide-1 {
        text-align: center
    }
    .site_footer {
        padding-top: 20px;
        padding-bottom: 30px
    }
    .join-waitlist {
        padding-top: 15px;
        text-align: center
    }
    .vertical_align {
        display: block
    }
}
.play-video-button {
    width: 136px;
    height: 136px;
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 50%;
    margin: -68px 0 0 -68px
}
.play-video-button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}
.site_footer {
    font-size: 15px;
    z-index: 300
}
.site_footer,
.site_footer a {
    color: #000
}
.site_footer a:hover {
    color: #a2a7a5
}
.site_footer .divider {
    margin: 0 4px;
    font-size: 120%;
    height: 18px;
    display: inline-block;
    line-height: 18px
}
.onepage-pagination {
    padding: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -24px 0 0;
    z-index: 100
}
.onepage-pagination li {
    display: block;
    margin: 6px 0
}
.onepage-pagination li a {
    display: block;
    text-decoration: none;
    margin: 0;
    text-align: center;
    outline: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #95e0c2;
    border-radius: 100%
}
.onepage-pagination li a.active {
    background: #2cc185;
    border-color: #2cc185
}


@media (min-width: 768px) {
  #user-content li {
  	padding-bottom: 10px;
  }
}